.manager-card {
    background-color: rgba(14, 138, 211, 0.548);
}

.intern-card {
    background-color: rgba(242, 245, 107, 0.5);
}

.engineer-card {
    background-color: rgba(53, 247, 137, 0.5);
}

.card {
    padding: 08px;
    margin: 15px;
    margin-top: 22px;
}